
<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>New category</h1>
          <p>Enter the details for your new category in the form below</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
          
          <%= form_for [:admin, @category] do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title, :class => "form-control" %>

            <%= f.label :description %>
            <%= f.text_field :description, :class => "form-control" %>

            <%= f.submit "Create category", :class => 'btn btn-sm btn-pill btn-success',style: 'float:right; margin-top: 40px;'%>
          <% end %>
        
        
        </div>
    </div>
</div>







