<div class="container">
    <div class="row">
        <div class="col-xs-12">
        
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"><%= current_user.user_name %> Portfolio</li>
            </ol>
          </nav>

        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-xs-12">
         <%= link_to "Log out",  root_path, :class => "btn btn-sm btn-pill btn-default  ",  style: 'float:right;' %>
          <h1>Your portfolio</h1>
          <p>Explore your current allocations below</p>
          <%= link_to "Add cryptocurrency",  new_user_cryptocurrency_path(params[:user_id]), :class => "btn btn-sm btn-pill btn-success  ",  style: 'float:right;' %>
          <% if current_user.admin? %>
            <%= link_to "Add category",  admin_categories_path, :class => "btn btn-sm btn-pill btn-primary",  style: 'float:right; margin-right: 10px;' %>
            <%= link_to "Add image",  admin_images_path, :class => "btn btn-sm btn-pill btn-info  ",  style: 'float:right; margin-right: 10px;' %>
          <% end %>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <p></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <p></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

          <div class="row">

            <% @cryptocurrencies.each do |cryptocurrency| %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" src= <%= cryptocurrency.images[0].url %> data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                  <h3 id="thumbnail-label"><%= cryptocurrency.name %><small> (<%= cryptocurrency.symbol %>)</small></h3>
                  <p>Tokens held: <%= cryptocurrency.amount %></p>
                  <p><%= link_to "Edit", edit_user_cryptocurrency_path(params[:user_id], cryptocurrency), :class => "btn btn-xs btn-pill btn-warning"  %> <%= link_to "Delete", user_cryptocurrency_path(params[:user_id], cryptocurrency), :class => "btn btn-xs btn-pill btn-danger", method: :delete %></p>
                </div>
              </div>
            </div>
            <% end %>
           

          </div>


        
        </div>
    </div>
</div>



