<h1>Explore or add to your portfolio below</h1>

<% @cryptocurrencies.each do |cryptocurrency| %>
  <p> <%= cryptocurrency.name %></p>
  <p> <%= cryptocurrency.amount %></p>
  <p> <%= cryptocurrency.symbol %></p>
  <%= link_to "Edit", edit_user_cryptocurrency_path(params[:user_id], cryptocurrency)  %>
  <%= link_to "Delete", user_cryptocurrency_path(params[:user_id], cryptocurrency), method: :delete %>
<% end %>

<%= link_to "Add a cryptocurrency",  new_user_cryptocurrency_path(params[:user_id]) %>